@import "../modules/colors.scss";
@import "../modules/fonts.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $font_main;
	.container {
		width: 100vw;
		height: 100vw;
		background: url("../images/gray_jean.png");
		header h1 {
			text-align: center;
			color: $font-color;
			margin: 10px;
		}
	}
	section {
		min-height: 20px;
	}
}

@media only screen and (min-width: 450px){
	.container {
		max-width: 800px;
		margin: 0 auto;
	}
}