@import "../modules/colors.scss";
@import "../modules/fonts.scss";

.container {
	.buttons {
		display: flex;
		justify-content: center;
		button {
			margin-right: 20px;
			margin-left: 20px;
			width: 100px;
			height: 50px;
			background-color: $button-color;
			border: 1px solid $button-border;
			color: $font-color;
			border-radius: 10px;
			font-size: 14px;
		}
	}
	.form-container {
		max-width: 100%;
		max-height: 100%;
		form {
			padding-bottom: 50px;
			max-width: 100%;
			max-height: 100%;
			#task-name {
				width: 30%;
				resize: none;
			}
			label {
				padding-top: 10px;
				padding-bottom: 5px;
				display: flex;
				justify-content: left;
			}
			#task-description {
				max-width: 100%;
				max-height: 100%;
				width: 100%;
				resize: vertical;
			}
		}
	}
}

form {
	padding: 0 10px 50px 10px;
	span {
		display: block;
		padding: 3px;

		text-align: left;
		color: #818181;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 11px;
	}
	#span1 {
		width: 120px;
		margin: -6px 0 0 0;
	}
	#span2 {
		width: 180px;
		margin: -1px 0 0 0;
	}
	#span3 {
		width: 203px;
		margin: -1px 0 0 0;
	}
	#span4 {
		width: 219px;
		margin: -5px 0 -10px 0;
		padding-bottom: 20px;
	}
}

/*
@media only screen and(min-width: 450px) {
	.container {
		.buttons {
			justify-content: flex-start;
		}
	}
}*/